node_modules
public/css/*.css.map
public/js/*
.sass-cache
ngrok
bower_components
config/local.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
