extends layout

block content
  .jumbotron
    h1 Welcome to Contact Bump
    p Your personal assistant for keeping in touch with important contacts
    a.btn.btn-primary(href="/login/facebook") Log in With Facebook
