html
  head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')

    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Contact Bump
  body
    div.container
      h1 Contact Bump

      h2 New Contact
      .row
        .col-md-4
          form(action='/contacts' method='POST')
            .form-group
              label Name
              input.form-control(type='text' name='name')
            .checkbox
              label
                input(type='checkbox' name='needsContacting')
                | Needs contacting
            .form-group
              button.btn.btn-default(type='submit') Create

      h2 Contacts
      each contact in contacts
        .row
          .col-md-3
            .panel.panel-default
              .panel-body
                p= 'Name: ' + contact.name
                if contact.bumpedAt
                  form(action='/clearBump' method='POST')
                    input.hidden(name='contactId' value=contact._id)
                    button.btn.btn-default(type='submit')
                      i.fa.fa-check-square-o(aria-hidden='true')
                      |  Contacted
                else
                  | You solid on dis one.
