html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Contact Bump
  body
    div.container
      h1 Contact Bump

      h2 New Contact
      form(action='/contacts' method='POST')
        div.form-group
          label Name
          input.form-control(type='text' name='name')

        div.form-group
          button.btn.btn-default(type='submit') Create

      h2 Contacts
      each contact in contacts
        div.row
          div.col-md-3
            p= 'Name: ' + contact.name
