html
  head
    link(rel='stylesheet' href='css/main.css')

    script(src='js/build.js')

    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Contact Bump
  body
    .container
      .page-header.header-container
        h1.header-left Contact Bump

        .header-right
          if loggedIn
            a.btn.btn-default(href="/logout") Log out
          else
            a.btn.btn-primary.hide-on-mobile(href="/login/facebook") Log in With Facebook

      block content

    if env.dev
      script(src='//localhost:35729/livereload.js')
